* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 100vw;
	height: 100vh;
}

/* stars */
body::before {
	content: '';
	position: absolute;
	background-image: radial-gradient(#ffffff 1%, transparent 0%), radial-gradient(#ffffff 2%, transparent 0%), radial-gradient(#ffffff 3%, transparent 0%);
	background-size: 50px 50px;
	background-position: 0 0, 30px 40px, 60px 50px;
	background-repeat: repeat;
	width: 120vw;
	height: 120vw;
	z-index: -10;
	transform: rotate(30deg);
	opacity: 0.2;
}

/* twinkle */
body::after {
	content: '';
	position: absolute;
	background-image: linear-gradient(45deg, #000000 10%, transparent 0%), linear-gradient(135deg, #000000 20%, transparent 0%);
	background-size: 50px 50px;
	background-position: 0 0, 20px 20px;
	background-repeat: repeat;
	width: 120vw;
	height: 120vw;
	z-index: -10;
	animation: twinkle 1000s linear infinite both;
}

/* general planet rules */
.hazey-border,
.hazey-border-inset {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.shadow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at 15% 20%, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%));
}

.surface {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 99%;
	height: 99%;
}

.orbit {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: orbit 20s ease-in-out infinite both;
}

/* earth */
#earth {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: radial-gradient(circle at 15% 20%, hsl(200, 100%, 50%), hsl(240, 100%, 10%));
	box-shadow: 20px 20px 200px 0 black;
	width: 500px;
	height: 500px;
}

.earth-border {
	box-shadow: -15px -12px 25px -5px hsla(210, 100%, 75%, 0.95);
}

.earth-border-inset {
	box-shadow: inset 15px 12px 25px -15px hsla(210, 100%, 75%, 0.95);
}

/* continents */
/* #africa {
	background: linear-gradient(hsl(60, 100%, 25%), hsl(120, 100%, 15%));
	width: 200px;
	height: 260px;
	clip-path: path('M 60 0 L 60 8 L 80 13 L 85 5 L 100 10 L 120 20 L 130 30 L 135 50 L 140 60 L 145 85 L 150 100 L 165 90 C 165 135, 140 140, 140 140 L 140 160 L 135 200 L 135 200 L 130 210 L 125 220 L 120 230 L 115 235 L 110 238 L 105 235 L 100 235 L 90 236 L 80 230 L 75 220 L 70 200 L 70 180 L 65 160 L 55 120 L45 110 L 40 110 L 30 112 L 20 110 L 10 100 L 5 85 L 0 75 L 0 50 L 5 30 L 10 20 L 15 15 L 25 5 L 40 0 z');
} */

#africa {
	background: linear-gradient(hsl(60, 100%, 25%), hsl(120, 100%, 15%));
	width: 200px;
	height: 200px;
	clip-path: path('M 20 20 C 50 0, 50 50, 100 50 S 150 100, 150 100 S 150 150, 150 150 S 150 200, 120 200 S 80 180, 80 180 S 60 170, 60 170 S 40 150, 40 150 S 20 100, 20 100 S 00 20, 20 20');
}

#asia {
	background: linear-gradient(hsl(60, 100%, 25%), hsl(120, 100%, 15%));
	width: 200px;
	height: 200px;
	clip-path: path('M 20 20 C 50 0, 50 50, 100 50 S 150 100, 150 100 S 150 150, 150 150 S 150 200, 120 200 S 80 180, 80 180 S 60 170, 60 170 S 40 150, 40 150 S 20 100, 20 100 S 00 20, 20 20');
}

/* moon */
.moon {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 95%), hsl(0, 0%, 10%));
	box-shadow: 40px 40px 50px 0 rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: resize-in-orbit 20s 5s ease-in-out infinite both;
}

.moon-border {
	box-shadow: -3px -2.4px 5px -1px hsla(210, 100%, 75%, 0.95);
}

.moon-border-inset {
	box-shadow: inset 3px 2.4px 5px -3px hsla(210, 100%, 75%, 0.95);
}

/* animations */
@keyframes orbit {
	from {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: 1;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: 1;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: -1;
	}

	to {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: -1;
	}
}

@keyframes resize-in-orbit {
	0% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}

	50% {
		transform: matrix(0.8, 0, 0, 0.8, 0, 0);
	}

	100% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}
}

/* @keyframes resize-in-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	10% {
		transform: matrix(1.15, 0, 0, 1.15, 0, 0);
	}

	20% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}

	30% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}

	40% {
		transform: matrix(1.15, 0, 0, 1.15, 0, 0);
	}

	50% {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	60% {
		transform: matrix(0.85, 0, 0, 0.85, 0, 0);
	}

	70% {
		transform: matrix(0.8, 0, 0, 0.8, 0, 0);
	}

	80% {
		transform: matrix(0.8, 0, 0, 0.8, 0, 0);
	}

	90% {
		transform: matrix(0.85, 0, 0, 0.85, 0, 0);
	}

	to {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
} */

@keyframes twinkle {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
